.convfileheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.convfileheading button {
    padding: 10px;
    font-weight: bold;
}

.converted-files {
    max-width: 980px;
    margin: 2rem auto;
}

.converted-files-list {
    list-style-type: none;
    max-width: 800px;
    margin: 0 auto;
}

.converted-files-list li {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


li.converted-file {
    margin: 1em 0;
    transition: all .1s ease-in-out;
    background: var(--sec-text);
}

li.converted-file.error {
    background: var(--gradient);
}

li.converted-file.error:hover {
    transform: scale(1);
}


.converted-file-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    height: 60px;
}

.remove-file {
    cursor: pointer;
}

.convert {
    display: block;
    background: red;
    padding: 15px;
    margin: 0 auto;
    color: var(--sec-text);
    cursor: pointer;
}


.fileimg, .filename, .downloadimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileimg {
    width: 4em;
    height: 4em;
}

.filename {
    text-overflow: ellipsis;
    text-align: center;
}

.downloadimg {
    cursor: pointer;
    text-decoration: none;
}

.delete {
    background: inherit;

}

.delete:hover {
    cursor: pointer;
    transform: scale(2);
}

@media (max-width: 567px) {

    .converted-files-list li {
        padding: 1rem 0rem;
    }

    .filename {
        margin: 0 5vw;
    }

    .convfileheading {
        flex-direction: column;
        text-align: center;
    }


}