.file-upload-area {
    background-color: var(--sec-bg);
    color: var(--sec-text);
    max-width: 980px;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    border-radius: 10px;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.file-upload-area h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.file-upload-area p {
    margin-bottom: 2rem;
}

.file-button {
    background-color: var(--sec-text);
    color: var(--primary-text);
    padding: 1rem 2rem;
    border: initial;
    border-radius: 4px;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.file-upload-icon {
    font-size: 4rem;
}




@media (max-width: 767px) {
    .file-upload-area h2 {
        font-size: 1.4rem;
    }

    .file-upload-icon {
        font-size: 2rem;
    }

    .file-button {
        font-size: 1rem;
    }
}