footer {
    padding: 4em 0;
    background-color: var(--gray);
    color: var(--sec-text);

}

.social-media-container {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.fab {
    padding: 20px;
    font-size: 30px;
    color: var(--sec-text);
    width: 50px;
    text-align: center;
    text-decoration: none;
}



.footer-menu {
    margin-bottom: 1.5rem;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-menu ul li:not(:first-child) {
    margin-left: 0.5rem;
}

.footer-menu ul li a {
    color: var(--sec-text);
    text-decoration: none;
}

.footer-menu ul li:not(:last-child)::after {
    content: "|";
    margin-left: 0.5rem;
}

.copyright {
    text-align: center;
}

@media (max-width: 767px) {
    .footer-menu ul {
        display: block;
        text-align: center;
    }

    .footer-menu ul li {
        margin-bottom: 0.5rem;
    }

    .footer-menu ul li:not(:first-child) {
        margin-left: 0;
    }

    .footer-menu ul li:not(:last-child)::after {
        display: none;
    }
}